.infoPageWrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    padding-top: 1.5rem;
    width: 60%;
    height: 100vh;
}