@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-ibm-sans);
  --font-mono: var(--font-ibm-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar::-webkit-scrollbar {
    display: block;
    width: .25rem;
    background-color: #0a0a0a;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background-color: #3f3f3f;
  }

}

body {
  background: var(--background);
  color: var(--foreground);

}

.accent {
  color: #f1b100ec !important;
}

.terminal-text {
  white-space: pre-wrap;
  font-family: var(--font-ibm-mono);
  font-size: 1rem;
  line-height: 1.5;
  color: #5da04f;
  font-weight: 400;
  letter-spacing: 0.05em;
}

.terminal-row {
  display: block;
  padding-left: 1rem;
  min-height: 1.5rem;
  flex-shrink: 0;
  margin-bottom: 0.25rem;
}

.typing {
  overflow: hidden;
  border-right: .7em solid transparent;
  white-space: nowrap;
  animation: typing 1s steps(40, end);
}


.blink-caret {
  animation: blink .75s step-end infinite;
  color: #5da04f;
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}