.infoTitle {
    padding-left: 1rem;
    font-size: 5rem;
    font-weight: 700;
    color: #e0e0e0;
    font-family: var(--font-ibm-mono);
    margin-bottom: -1rem;
}

.infoTitleAccent {
    color: #f1b100ec;
}

.infoSub {
    padding-left: 1rem;
    padding-bottom: 1rem;
    margin-right: 1rem;
    border-bottom: .1rem solid #f1b100ec;
    font-size: 1.45rem;
    color: #979797;
    font-weight: 400;
    font-family: var(--font-ibm-sans);
}

.infoContent {
    padding-left: 1rem;
    padding-top: 1rem;
    margin-right: 1rem;
}

.subTitle {
    font-size: 1.75rem;
    color: #f1b100ec;
    font-family: var(--font-ibm-mono);
    line-height: 1.75rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
    text-decoration: underline;
    text-underline-offset: .25rem;
}

.bodyText {
    font-size: 1.1rem;
    color: #cacaca;
    font-weight: 400;
    font-family: var(--font-ibm-sans);
    line-height: 1.25rem;
}

.accentItalic {
    font-style: italic;
}

.nicheList {
    padding-left: 1.3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.nicheItem {
    font-size: 1rem;
    margin-bottom: .5rem;
    display: list-item;
    list-style-type: square;
    color: #979797;
}

.nicheItem::marker {
    color: #9c7300;
}

.tinyText {
    color: #979797;
    font-size: .95rem;
}

.conclusion {
    padding-bottom: 2rem;
}